<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="webexpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />

    <bean id="ldapContextMapperImpl" class="auth.LdapContextMapperImpl" />

    <bean id="defaultAuthEventPublisher" class="auth.UserService"/>

    <bean id="startListener" class="config.StartupListener"/>

    <bean id="isFilled" class="config.IsFilled"/>

    <context:property-placeholder
            location="/WEB-INF/config/database.properties,/WEB-INF/config/active-directory.properties"/>

    <bean id="dbConfig" class="helpers.ConfigDB">
        <property name="driverClassName" value="${db.driverClassName}"/>
        <property name="dbUrl" value="${db.url}"/>
        <property name="dbUser" value="${db.user}"/>
        <property name="dbPassword" value="${db.password}"/>
        <property name="poolSize" value="${db.poolSize}"/>
    </bean>
</beans>